@font-face
{
    font-family:SnellBTimport; 
    src:url(cssFonts/SnellBT-Bold.otf),url(cssFonts/SnellBT-Regular.otf);

}

#main
{
    font-family:SnellBTimport;
}

html {
    box-sizing:border-box;
    
}
body{
    min-height:100vh;
    display:flex; 
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    background:rgb(29, 183, 235);
    margin:0;
    
}

.content{ 
    display:grid;
    grid-template-columns:repeat(6,1fr); 
    grid-template-rows:repeat(7,95px);
    grid-template-areas: "text text text velicinaGrida velicinaGrida velicinaGrida"
    "text text text papir papir papir"
    "text text text papir papir papir"
    "text text text papir papir papir"
    "text text text papir papir papir"
    "izaberiBoju izaberiBoju izaberiBoju papir papir papir"
     "izaberiBoju izaberiBoju izaberiBoju kontrole kontrole kontrole";
    background-image:url(imgs/book.webp);
    background-size:100%;
    background-repeat:no-repeat;
    min-width:1100px;
    min-height:750px;
    margin-top:2em;
}

.grid{ 
        display:grid;
        background:rgb(229, 226, 226);
        min-width: 460px;
        min-height:460px;
        max-width: 460px;
        max-height:460px;
        grid-template-columns:repeat(16,1fr);
        grid-template-rows:repeat(16,1fr);
        grid-area:papir;
        border-radius:1px;
        border:2px dashed brown;
        margin-left:8px;
        margin-bottom:3px;
}

.text
{   display:flex;
    flex-direction:column;
    grid-area:text;
    justify-content: center;
    align-items: space-around;
    font-family:SnellBTimport;
    font-size:32px;
    font-style:italic;
    color:rgb(73, 8, 8);
    margin-left:4em;

}
.controls
{   

    text-align:center;
    grid-area:kontrole;
    margin-right:3.9em;
    margin-top:1em;
}


.grid-item
{
    display:flex; 
    justify-content:center;
    align-items:center;

}


span
{
    font-size:90px;
    font-family:SnellBTimport;
    text-align:center;
}

.title
{
    font-size:60px;
    font-weight:bold;
    margin-bottom:2em;
}

h1
{
    margin:0;
    font-size:90px;
}

button{

        font-size: 22px;
        line-height: 14px;
        border: 2px solid rgb(73, 8, 8);
        border-radius: 20px;
        padding: 7px;
        padding-left: 15px;
        padding-right: 15px;
        color: rgb(73, 8, 8);
        font-family:SnellBTimport;
        margin-right:8px;

}

button:hover {
  
    border-color: rgb(29, 183, 235);
}

.velicinaGrida
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:23px;
    align-items:center;
    grid-area:velicinaGrida; 
    font-family:SnellBTimport;
    font-size:2em;
    color: rgb(73, 8, 8);
    margin-right:2em;
    
}

.favColor
{
    grid-area:izaberiBoju;
    font-family:SnellBTimport;
    font-size:2em;
    color: rgb(73, 8, 8);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:16px;
    margin-left:2.5em;
}

footer{
    min-height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    align-self:stretch;
    background:rgb(229, 226, 226);
    color:rgb(73, 8, 8);
}

input[type=range] {
    -webkit-appearance: none;
    background-color: rgb(229, 226, 226);
    border:1px solid rgb(73, 8, 8);
    width: 150px;
    height:8px;
    border-radius:5px;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: rgb(73, 8, 8);
    opacity: 1;
    width: 10px;
    height: 12px;
    border-radius:3px;
}
input[type=range]::-moz-range-thumb {

    
    border: 1px solid #000000;
    height: 10px;
    width: 12px;
    border-radius: 3px;
     background: rgb(73, 8, 8);
    cursor: pointer;
  }
  